﻿@model XYZ.Entities.Basket

@{
    ViewBag.Title = "MyBasket";
}

<h2>MyBasket</h2>

<div>
    <h4>Basket</h4>
    
    @Html.ActionLink("Hurry Up!! Get an Order ;)", "OrderBasket", "Order", new {}, null)
    <hr>
    @Html.ActionLink("Back to Products", "Index", "Product", new {}, null)
    <body>
        <table class="table">
            <tr>
                <th class="col-sm-3">
                    Barcode
                </th>
                <th class="col-sm-3">
                    Name
                </th>
                <th class="col-sm-3">
                    Price
                </th>
                <th class="col-sm-3">
                    Qty
                </th>

            </tr>


            @foreach (var item in Model.BasketItemProducts)
            {
                <tr>
                    <td>
                        @item.Product.Barcode
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Price
                    </td>
                    <td>
                        @item.BasketItem.Qty
                    </td>
                    <td>
                        @Html.ActionLink("-", "DecreaseBasketItem", "Basket", new { productId = item.Product.ProductId }, null)
                        @Html.ActionLink("+", "IncreaseBasketItem", "Basket", new { productId = item.Product.ProductId }, null)
                        @Html.ActionLink("Delete", "DeleteBasketItem", "Basket", new { productId = item.Product.ProductId }, null)

                    </td>
                </tr>
            }

        </table>
    </body>

</div>






