﻿@using XYZ.Client.Helper.Implamentation

@{
    ViewBag.Title = "ShowNoBasket";
}

<h2>:( Your cart ..</h2>



<table class="table">
   Your cart is empty. @Html.ActionLink(" Go for trendy !! ", "Index", "Product", new { }, null)

</table>

