﻿
@using XYZ.Client.Helper.Implamentation
@using XYZ.Entities
@model IEnumerable<XYZ.Entities.Product>

@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

@{
    ViewBag.Title = "MyBasket";
}

@if (NotificationHelper.IsThereAnySuccessMessage())
{
    <p><div class="alert alert-success">@NotificationHelper.PopSuccessMessage()</div></p>
}
<hr>
@Html.ActionLink("Back To Menu", "Index", "Product", new{}, null)

<table class="table">
    Your Payment Approved
</table>

