﻿@using XYZ.Entities
@model IEnumerable<XYZ.Entities.Shipper>

@{
    ViewBag.Title = "OrderBasket";
}

<h2>OrderBasket</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipperName)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.data as ICollection<Shipper>) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipperName)
        </td>
        <td>
            @Html.ActionLink("Choose", "OrderBasketPost", "Order", item, null)
        </td>
    </tr>
}

</table>
