﻿@model IEnumerable<XYZ.Admin.Entity.Product>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        $(".q").keyup(function (data, status) {
            var index = document.getElementById("q").value;
            $.get("/Product/Search?q=" + index, function (data1, status) {
                $(".table").html(data1);
            });

        });
    });


</script>
<head>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>

<body>
    <input type="text" class="q" id="q" name="q" />


   

    <p>
        @Html.ActionLink("Index", "Index")
    </p>

    <table class="table">
        <tr class="success">
            <th class="col-sm-6" class="success">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-sm-3" class="success">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
               
            </tr>
        }

    </table>
</body>