﻿@using XYZ.Entities
@model XYZ.Client.Models.PagingModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    <div class="container">


        <script>

            $(document).ready(function () {

                $.get("/Food/Search?q=" + index,
                    function (data1, status) {
                        $(".Replace").html(data1);


                    });
            });

            $(document).ready(function () {

                $(".q").keyup(function (data, status) {
                    var index = document.getElementById("q").value;
                    $.get("/Product/Search?q=" + index, function (data1, status) {
                        $(".table").html(data1);
                    });

                });
            });
        </script>




        <div class="Replace"></div>

        <div>
            @using (Html.BeginForm("Index", "Product", FormMethod.Post))
            {
            <h4>Products</h4>

            <hr />
                <input type="text" class="q" id="q" name="q" placeholder="Search" />
                @Html.ActionLink("My Basket", "MyBasket", "Basket", new{}, null)

            <hr />
            <table class="table
                ">
                <tr>

                    <th>Name</th>
                    <th>Price</th>
                    <th>Others</th>
                    <th>Fast Buy</th>

                </tr>
                @foreach (Product product in Model.Product)
                {
                <tr>

                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Size</td>
                    <td>
                        @Html.ActionLink("Add To Basket", "AddBasketItem", "Basket", new{productId = product.ProductId}, null)
                    </td>
                </tr>
                }
            </table>
            <br />
            <table>
                <tr>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                    <td>
                        @if (i != Model.CurrentPageIndex)
                        {
                        <a href="javascript:PagerClick(@i);" class="btnClickable">@i</a>
                        }
                        else
                        {
                        <span>@i</span>
                        }
                    </td>
                    }
                </tr>
            </table>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
            }
            <script type="text/javascript">
                function PagerClick(index) {

                    document.getElementById("hfCurrentPageIndex").value = index;

                    $.get("/Product/Index?currentPageIndex=" + index,
                        function (data, status) {
                            window.location.href = "/Product/Index?currentPageIndex=" + index;
                        });

                    alert(data);

                    document.forms[0].submit();
                }
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        </div>
    </div>
</body>
</html>
