﻿
@model IEnumerable<XYZ.Entities.Product>

<head>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <th class="col-sm-3">
                Name
            </th>
            <th class="col-sm-3">
                Price
            </th>
            <th class="col-sm-3">
               Size
            </th>
            <th class="col-sm-3">
                Fast Buy
            </th>

        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Size
                </td>
                <td>
                    @Html.ActionLink("Add To Basket", "AddBasketItem", "Basket", new{productId = item.ProductId}, null)
                </td>

            </tr>
        }

    </table>
</body>
