﻿@model IEnumerable<XYZ.Admin.Entity.Order>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.BasketId)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Status)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.ShipperId)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.OrderId)
        </th>
       
    </tr>
}

</table>
