﻿@model IEnumerable<XYZ.Admin.Entity.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.ActionLink("List Suppliers", "List", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Create Supplier", "Create", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Products", "Index", "Product", new {/*id = item.ID*/}, null) |
            @Html.ActionLink("Orders", "List", "Order", new {/*id = item.ID*/}, null) 
        </td>
    </tr>
</table>
